astroid==3.0.2
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
dill==0.3.8
idna==3.6
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.0
pygame==2.5.2
pylint==3.0.3
requests==2.31.0
soupsieve==2.5
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
urllib3==2.2.0
